.advantages-mobile {
    display: none;
}

.advantages-desktop-tablet {
    display: block;
}

.advantages {
    background-color: #f8f9fc;
    margin-bottom: 116px;
}

.advantages__container {
    max-width: 1158px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.advantages__container > h2 {
    text-transform: uppercase;
    font-size: 41px;
    text-align: center;
    color: #102654;
    padding-top: 115px;
    margin-bottom: 71px;
    margin-top: 0;

    @include bebas-font;
}

.advantages__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 80px;

    @include roboto-font;
}

.advantages__item {
    display: flex;
    height: 50%;
}

.advantages__block .advantages__item + .advantages__item {
    padding-top: 82px;
}

.advantages__item + .advantages__item {
    border-top: 2px solid rgba(209, 10, 66, 0.2);
}

.advantages__central-item {
    margin-bottom: 0;
    background-color: #1c3374;
    color: #ffffff;
    text-align: center;
    padding: 50px 9px 42px 9px;
    margin-left: 88px;
    margin-right: 59px;
}

.advantages__central-item h3 {
    font-size: 74px;
    margin: 0;
}

.advantages__central-item h3 + p {
    font-size: 24px;
    margin-top: 2px;
    margin-bottom: 41px;
}

.advantages__central-item p {
    word-break: break-all;
}

.advantages__central-item p + p {
    font-size: 16px;
    line-height: 22px;
    padding: 0 20px;
}

.advantages__unit .advantages__unit h3 {
    font-size: 22px;
    color: #102654;
}

.advantages__unit h2 {
    font-size: 70px;
    background: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -16px;
    margin-bottom: 0;
    padding-right: 30px;
}

.advantages__unit h2 + p {
    margin-top: 0;
    font-size: 14px;
    color: #2e35ac;
}

.advantages__unit h3 {
    margin-top: 0;
    margin-bottom: 11px;
    font-size: 18px;
    color: #102654;
}

.advantages__unit h3 + p {
    color: #102654;
    font-size: 14px;
    line-height: 21px;
    margin-top: 0;
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .advantages-desktop-tablet {
        margin-top: 37px;
    }

    .advantages {
        margin-bottom: 96px;
    }

    .advantages__container {
        max-width: 1199px;
        margin: 0 auto;
        padding-bottom: 173px;
    }

    .advantages__container > h2 {
        font-size: 35px;
        padding-top: 95px;
        margin-bottom: 59px;
    }

    .advantages__wrapper {
        flex-direction: row;
        column-gap: 64px;
        position: relative;

        @include margin-45;
    }

    .advantages__central-item {
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 107px;
        padding: 28px 26px 23px 28px;
        min-width: 442px;
    }

    .advantages__unit h2 {
        font-size: 53px;
    }

    .advantages__unit h3 {
        margin-top: -7px;
        margin-bottom: 6px;
    }

    .advantages__central-item h3 + p {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .advantages__central-item p + p {
        font-size: 15px;
        line-height: 24px;
        padding: 0 57px;
        margin-top: 18px;
    }

    .advantages__item + .advantages__item {
        border-top: none;
    }

    .advantages__wrapper + .advantages__block {
        padding-left: 17px;
    }

    .advantages__block .advantages__item + .advantages__item {
        margin-top: 212px;
        padding-top: 0;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .advantages {
        margin-bottom: 59px;
        margin-top: 18px;
    }

    .advantages-desktop-tablet {
        display: none;
    }

    .advantages-mobile {
        display: block;
    }

    .advantages__container {
        max-width: 767px;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .advantages__container > h2 {
        font-size: 29px;
        padding-top: 66px;
        margin-top: 0;
    }

    .advantages__wrapper {
        flex-direction: column;
        justify-content: center;

        @include margin-15;
    }

    .advantages__block .advantages__item + .advantages__item {
        margin-top: 33px;
        margin-bottom: 33px;
    }

    .advantages__central-item {
        position: static;
        margin: 0;
        margin-bottom: 56px;
        padding: 28px 26px 28px 28px;
        min-width: 0;
        transform: translateY(0);
    }

    .advantages__central-item p + p {
        padding: 0 34px;
        margin-top: 12px;
    }

    .advantages__item {
        display: flex;
        flex-direction: column;
    }

    .advantages__unit {
        text-align: center;
    }

    .advantages__unit h3 {
        margin-top: -5px;
    }

    .advantages__unit h2 {
        padding-right: 0;
        font-size: 56px;
        background: linear-gradient(160.61deg, #d10a42 25%, #0041ca 45.58%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .advantages__unit h2 + p {
        font-size: 13px;
        margin-top: -6px;
        margin-bottom: 22px;
    }

    .advantages__unit h3 + p {
        font-size: 14px;
        padding: 0 29px;
    }
}
