.advantages-mobile {
    display: none;
}

.advantages-desktop-tablet {
    display: block;
}

.advantages {
    background-color: #f8f9fc;
    margin-bottom: 113px;
}

.advantages__container {
    max-width: 1158px;
    margin: 0 auto;
    padding-bottom: 120px;
}

.advantages__container > h2 {
    text-transform: uppercase;
    font-size: 47px;
    text-align: center;
    letter-spacing: 0.055em;
    color: #102654;
    padding-top: 110px;
    margin-bottom: 69px;
    margin-top: 0;
    margin-left: 5px;

    @include bebas-font;
}

.advantages__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 57px 0 59px;

    @include roboto-font;
}

.advantages__item {
    display: flex;
    height: 50%;
    padding-left: 2px;
}

.advantages__block .advantages__item + .advantages__item {
    padding-top: 80px;
}

.advantages__block {
    max-width: 343px;
}

.advantages__item + .advantages__item {
    border-top: 2px solid rgba(209, 10, 66, 0.2);
}

.advantages__central-item {
    margin-bottom: 0;
    background-color: #1c3374;
    color: #ffffff;
    text-align: center;
    padding: 49px 20px 43px 20px;
    max-width: 240px;
}

.advantages__central-item h3 {
    font-size: 69px;
    margin: 0;
    letter-spacing: 0.05em;
}

.advantages__central-item h3 + p {
    font-size: 26px;
    margin-top: 2px;
    margin-bottom: 36px;
}

.advantages__central-item p {
    word-break: break-all;
}

.advantages__central-item p + p {
    font-size: 15px;
    line-height: 23px;
    padding: 0 11px;
    letter-spacing: 0.04em;
}

.advantages__unit .advantages__unit h3 {
    font-size: 22px;
    color: #102654;
}

.advantages__unit h2 {
    font-size: 69px;
    background: linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
    /* stylelint-disable-next-line */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -19px;
    margin-bottom: -8px;
    padding-right: 30px;
    letter-spacing: 0.03em;
}

.advantages__unit h2 + p {
    margin-top: 0;
    font-size: 14px;
    color: #2e35ac;
}

.advantages__unit h3 {
    margin-top: -3px;
    margin-bottom: 11px;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #102654;
}

.advantages__unit h3 + p {
    color: #102654;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.07em;
    margin-top: 0;
}

.advantages__right-col .advantages__item {
    padding-left: 0;
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .advantages-desktop-tablet {
        margin-top: 33px;
    }

    .advantages {
        margin-bottom: 93px;
    }

    .advantages__container {
        max-width: 1199px;
        margin: 0 auto;
        padding-bottom: 173px;
    }

    .advantages__container > h2 {
        font-size: 40px;
        padding-top: 95px;
        margin-bottom: 52px;
        letter-spacing: 0.06em;
    }

    .advantages__wrapper {
        flex-direction: row;
        column-gap: 64px;
        position: relative;
        column-gap: 67px;

        @include margin-45;
    }

    .advantages__central-item {
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 111px;
        padding: 26px 26px 23px 28px;
        min-width: 442px;
    }

    .advantages__unit h2 {
        font-size: 53px;
        letter-spacing: 0.075em;
        padding-right: 27px;
        margin-top: -13px;
    }

    .advantages__unit h2 + p {
        margin-top: 4px;
    }

    .advantages__unit h3 {
        margin-top: -7px;
        margin-bottom: 6px;
        letter-spacing: 0;
    }

    .advantages__unit h3 + p {
        font-size: 15px;
        letter-spacing: 0;
    }

    .advantages__central-item h3 + p {
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .advantages__central-item p + p {
        font-size: 17px;
        line-height: 24px;
        padding: 0 98px;
        margin-top: 15px;
        letter-spacing: 0;
    }

    .advantages__item + .advantages__item {
        border-top: none;
    }

    .advantages__wrapper + .advantages__block {
        padding-left: 17px;
    }

    .advantages__block .advantages__item + .advantages__item {
        margin-top: 207px;
        padding-top: 0;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .advantages {
        margin-bottom: 59px;
        margin-top: 18px;
    }

    .advantages-desktop-tablet {
        display: none;
    }

    .advantages-mobile {
        display: block;
    }

    .advantages__container {
        max-width: 767px;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .advantages__container > h2 {
        font-size: 29px;
        padding-top: 66px;
        margin-top: 0;
    }

    .advantages__wrapper {
        flex-direction: column;
        justify-content: center;

        @include margin-15;
    }

    .advantages__block .advantages__item + .advantages__item {
        margin-top: 33px;
        margin-bottom: 33px;
    }

    .advantages__central-item {
        position: static;
        margin: 0;
        margin-bottom: 56px;
        padding: 28px 26px 28px 28px;
        min-width: 0;
        transform: translateY(0);
    }

    .advantages__central-item p + p {
        padding: 0 34px;
        margin-top: 12px;
    }

    .advantages__item {
        display: flex;
        flex-direction: column;
    }

    .advantages__unit {
        text-align: center;
    }

    .advantages__unit h3 {
        margin-top: -5px;
    }

    .advantages__unit h2 {
        padding-right: 0;
        font-size: 56px;
        background: linear-gradient(160.61deg, #d10a42 25%, #0041ca 45.58%);
        /* stylelint-disable-next-line */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .advantages__unit h2 + p {
        font-size: 13px;
        margin-top: -6px;
        margin-bottom: 22px;
    }

    .advantages__unit h3 + p {
        font-size: 14px;
        padding: 0 29px;
    }
}
