.contacts {
    width: 50%;
    background-color: #ffffff;
}

.contacts__wrapper {
    padding-left: 121px;
    color: #102654;
}

.contacts__container {
    display: flex;
    column-gap: 64px;
}

.contacts__unit + .contacts__unit {
    padding-left: 53px;
    border-left: 1px solid #74819c;
}

.contacts__wrapper h2 {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 100;
    letter-spacing: 0.04em;
    margin-top: 65px;
    margin-bottom: 31px;

    @include bebas-font-bold;
}

.contacts__unit {
    @include roboto-font;
}

.contacts__item {
    margin-left: 4px;
}

.contacts__item h3 {
    font-size: 15px;
    margin-top: 9px;
    margin-bottom: 9px;
}

.contacts__item p {
    font-size: 13px;
    margin-top: 0;

    letter-spacing: 0.03em;
}

.contacts__item + .contacts__item {
    margin-top: 23px;
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .contacts {
        width: 100%;
        padding-bottom: 51px;
    }

    .contacts__wrapper {
        padding-left: 132px;
    }

    .contacts__container {
        column-gap: 49px;
    }

    .contacts__wrapper h2 {
        font-size: 34px;
    }

    .contacts__item {
        margin-left: 0;
    }

    .contacts__item h3 {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .contacts__item p {
        font-size: 16px;
    }

    .contacts__unit + .contacts__unit {
        padding-left: 47px;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .contacts__wrapper {
        padding-left: 14px;
    }

    .contacts__wrapper h2 {
        font-size: 27px;
        margin-top: 65px;
        margin-bottom: 29px;
    }

    .contacts__container {
        flex-direction: column;
    }

    .contacts__unit + .contacts__unit {
        padding-left: 0;
        border-left: none;
    }
}
