.footer-big {
    display: block;
}

.footer-mobile {
    display: none;
}

.footer {
    background-color: #030a1a;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 37px;
}

.footer__logo {
    margin-right: 60px;
}

.footer__logo-pic {
    width: 87px;
    height: 19px;
}

.footer__icon {
    width: 50px;
    height: 50px;
}

.footer__menu ul,
.footer__social-list {
    list-style: none;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    justify-content: space-between;
}

.footer__menu ul {
    column-gap: 43px;
    font-size: 13px;
    padding-left: 0;
    margin-top: 6px;

    @include roboto-font;
}

.footer__social-list {
    align-items: center;
    margin-bottom: 0;
    column-gap: 25px;
}

.footer__item:hover,
.footer__social-item:hover {
    opacity: 0.5;
}

.footer__item a {
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 0.01em;
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .footer__wrapper {
        max-width: 1199px;
        margin: 0 auto 0 45px;
        padding-top: 41px;
        padding-bottom: 40px;
    }

    .footer__menu ul {
        margin-left: 16px;
        margin-top: 8px;
        column-gap: 29px;
        font-size: 14px;
    }

    .footer__logo-pic {
        width: 80px;
    }

    .footer__social-list {
        padding-left: 0;
        margin-right: 45px;
        margin-top: -6px;
        column-gap: 20px;
    }

    .footer__logo {
        margin-right: 2px;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .footer-big {
        display: none;
    }

    .footer-mobile {
        display: block;
    }

    .footer__wrapper {
        display: block;
        margin: 0 auto 0 15px;
        padding-bottom: 46px;
    }

    .footer__menu {
        display: flex;
        flex-direction: row;
        column-gap: 80px;
    }

    .footer__menu ul {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        row-gap: 22px;
    }

    .footer__social {
        margin-top: 26px;
    }

    .footer__social-list {
        justify-content: flex-start;
        column-gap: 36px;
    }

    .footer__social-img--vk {
        width: 31px;
        height: 18px;
    }

    .footer__social-img--inst {
        width: 27px;
        height: 26px;
    }

    .footer__social-img--fb {
        width: 13px;
        height: 26px;
    }
}
