.footer-info {
    margin-top: 119px;
    margin-bottom: 0;
    background-color: #102654;
}

.footer-info__wrapper {
    display: flex;
    max-width: 1199px;
    margin: 0 auto;
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .footer-info {
        margin-top: 99px;
    }

    .footer-info__wrapper {
        flex-direction: column;
        margin-top: 0;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .footer-info__wrapper {
        margin-top: 70px;
    }
}
