.footer-info {
    display: flex;
    margin-top: 119px;
    margin-bottom: 200px;
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .footer-info {
        flex-direction: column;
        margin-top: 98px;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .footer-info {
        margin-top: 70px;
    }
}
