.footer-info {
    margin-top: 119px;
    margin-bottom: 0;
    background: linear-gradient(to right, #102654 50%, #ffffff 50%);
    border-top: 1px solid #74819c;
}

.footer-info__wrapper {
    display: flex;
    max-width: 1199px;
    margin: 0 auto;
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .footer-info {
        margin-top: 99px;
        background: linear-gradient(to right, #102654 50%, #102654 100%);
    }

    .footer-info__wrapper {
        flex-direction: column;
        margin-top: 0;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .footer-info {
        margin-top: 71px;
        border-top: none;
    }

    .footer-info__wrapper {
        margin-top: 70px;
    }
}
