.free-lesson {
    width: 50%;
    padding-left: 20px;
    padding-bottom: 70px;
}

.free-lesson__wrapper {
    max-width: 410px;
}

.free-lesson__wrapper h2 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 42px;
    margin-top: 64px;
    margin-bottom: 46px;
    font-weight: 100;

    @include bebas-font;
}

.free-lesson__form-wrap {
    display: flex;
    column-gap: 16px;
}

.free-lesson__form-wrap input {
    background-color: #102654;
    padding-bottom: 8px;
    border-bottom: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    min-width: 187px;

    &::placeholder {
        color: #ffffff;
        font-size: 12px;
        padding-left: 0;
    }
}

.free-lesson__submit {
    margin-top: 28px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #102654;
    border: 3px solid #ffffff;
    width: 100%;
    padding: 16px 0;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}

@media (max-width: $desktop-width) {
    .free-lesson {
        width: 100%;
    }

    .free-lesson__wrapper {
        margin-left: 110px;
        max-width: 475px;
    }

    .free-lesson__wrapper h2 {
        font-size: 39px;
        margin-bottom: 38px;
    }

    .free-lesson__form-wrap {
        column-gap: 39px;
    }

    .free-lesson__form-wrap input {
        width: 100%;
    }
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .free-lesson {
        padding-left: 0;
    }

    .free-lesson__wrapper {
        max-width: 503px;
        margin: 0 auto;
    }

    .free-lesson__form {
        margin-right: 29px;
    }

    .free-lesson__form-wrap {
        column-gap: 30px;
    }

    .free-lesson__form-wrap input {
        min-width: 206px;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .free-lesson {
        padding-left: 16px;
        padding-bottom: 68px;
    }

    .free-lesson__wrapper {
        margin-left: 0;
        margin-right: 13px;
    }

    .free-lesson__wrapper h2 {
        font-size: 29px;
        font-weight: 100;
        margin-top: 66px;
    }

    .free-lesson__form {
        margin-right: 0;
    }

    .free-lesson__form-wrap {
        display: flex;
        flex-direction: column;
        row-gap: 18px;
    }

    .free-lesson__form-wrap input {
        min-width: 289px;
    }

    .free-lesson__submit {
        margin-top: 21px;
    }
}
