.gym-block {
    max-width: 1158px;
    margin: 0 auto;
    display: flex;
    padding-top: 120px;
    padding-bottom: 232px;
    position: relative;
}

.gym-block__text {
    padding: 0 58px;
}

.gym-block__text h2 {
    font-size: 41px;
    line-height: 49px;
    color: #102654;
    text-transform: uppercase;
    margin-top: 45px;
    margin-bottom: 14px;

    @include bebas-font;
}

.gym-block__text p {
    color: rgba(16, 38, 84, 1);
    font-size: 14px;
    line-height: 23px;

    @include roboto-font;
}

.gym-block__text h2 + p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 40px;
}

.gym-block__video {
    position: absolute;
    bottom: 117px;
    left: 436px;
}

.gym-block__video iframe {
    border: none;
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .gym-block {
        max-width: 1199px;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
        padding-top: 49px;
        padding-bottom: 178px;
    }

    .gym-block__text {
        text-align: center;
        padding: 0 130px;
    }

    .gym-block__text p:last-child {
        display: none;
    }

    .gym-block__text h2 {
        font-size: 37px;
        line-height: 35px;
        margin-top: 51px;
        margin-bottom: 17px;
    }

    .gym-block__text h2 + p {
        margin-bottom: 37px;
    }

    .gym-block__image {
        margin-top: 31px;
    }

    .gym-block__img {
        width: 678px;
        height: 345px;
    }

    .gym-block__video {
        bottom: 95px;
        left: 50%;
        transform: translateX(-50%);
    }

    .gym-block__video iframe {
        width: 266px;
        height: 167px;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .gym-block {
        max-width: 767px;
        margin: 0 auto;
        padding-top: 13px;
        padding-bottom: 273px;
    }

    .gym-block__text {
        text-align: left;
        padding: 0;

        @include margin-15;
    }

    .gym-block__text h2 {
        font-size: 28px;
        line-height: 28px;
        margin-top: 55px;
        margin-bottom: 13px;
    }

    .gym-block__img {
        width: 320px;
        height: 313px;
    }

    .gym-block__text h2 + p {
        margin-bottom: 23px;
        line-height: 27px;
    }

    .gym-block__image {
        margin-top: 24px;
    }

    .gym-block__video {
        bottom: 66px;
        left: 50%;
        transform: translateX(-50%);
    }

    .gym-block__video iframe {
        width: 100vw;
        height: 167px;
    }
}
