.promo-block {
    max-width: 1158px;
    margin: 0 auto;
}

.promo-block__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.promo-block__right {
    background-image: url("../img/promo-img_desktop.jpg");
    background-repeat: no-repeat;
    background-color: rgb(38, 38, 117);
    width: 660px;
    height: 500px;
    background-size: 660px 500px;
}

.promo-block__left {
    flex-grow: 1;
    max-height: 500px;
    overflow-y: hidden;
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .promo-block {
        max-width: 1199px;
        margin: 0 auto;
        margin-bottom: 250px;
    }

    .promo-block__wrapper {
        @include margin-45;
    }

    .promo-block__right {
        background-image: url("../img/promo-img_tablet.jpg");
        background-repeat: no-repeat;
        background-color: rgb(38, 38, 117);
        width: 100%;
        height: 292px;
        background-size: 100%;
    }

    .promo-block__left {
        flex-grow: 0;
        max-height: 292px;
        overflow-y: hidden;
        width: 76%;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .promo-block {
        max-width: 320px;
        margin: 0 auto;
    }

    .promo-block__wrapper {
        flex-direction: column;

        @include margin-15;
    }

    .promo-block__right {
        background-image: url("../img/promo-img_mobile.jpg");
        background-repeat: no-repeat;
        background-color: rgb(38, 38, 117);
        width: 290px;
        height: 292px;
        background-size: 290px 292px;
    }

    .promo-block__left {
        width: 100%;
    }
}
