.promotions-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
}

.promotions-right__promoOne,
.promotions-right__promoTwo {
    color: #1c3374;
    border: 7px solid transparent;
    border-image: url("../img/main-block-background_desktop.png") 30 30 round;
    padding: 10px 28px;
}

.promotions-right__promoOne h3,
.promotions-right__promoTwo h3 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.promotions-right__promoOne p,
.promotions-right__promoTwo p {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 73px;
}

.promotions-right__promoOne a,
.promotions-right__promoTwo a {
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid #1c3374;
    font-size: 11px;
    margin-top: 0;

    &:hover {
        opacity: 0.5;
    }
}

// tablet-------------------------------------------------------------------
@media (max-width: $desktop-width) {
    .promotions-right {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 30px;
        width: 100%;
    }

    .promotions-right__promoOne,
    .promotions-right__promoTwo {
        width: 50%;
        height: auto;
        padding-bottom: 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .promotions-right__promoOne a,
    .promotions-right__promoTwo a {
        max-width: 70px;
        margin-top: 3px;
    }

    .promotions-right__promoOne p,
    .promotions-right__promoTwo p {
        line-height: 20px;
    }

    .promotions-right__promoOne p {
        margin-bottom: 49px;
    }

    .promotions-right__promoTwo p {
        margin-bottom: 55px;
        line-height: 16px;
    }

    .promotions-right__promoOne h3 {
        margin-bottom: 9px;
    }

    .promotions-right__promoTwo h3 {
        margin-bottom: 0;
        line-height: 22px;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .promotions-right {
        flex-direction: column;
        row-gap: 30px;
        text-align: center;
    }

    .promotions-right__promoOne,
    .promotions-right__promoTwo {
        width: 100%;
        padding-bottom: 39px;
        padding-top: 20px;
    }

    .promotions-right__promoTwo h3 {
        margin-bottom: 16px;
    }

    .promotions-right__promoOne p,
    .promotions-right__promoTwo p {
        line-height: 23px;
    }

    .promotions-right__promoOne p {
        margin-bottom: 28px;
    }

    .promotions-right__promoTwo p {
        margin-bottom: 25px;
    }

    .promotions-right__promoOne a,
    .promotions-right__promoTwo a {
        max-width: 70px;
        margin: 0 auto;
    }
}
