.promotions-left__image {
    width: 50%;
}

.promotions-left {
    display: flex;
}

.promotions-left__info {
    background-color: #ed0233;
    color: #ffffff;
    width: 50%;
    padding: 25px;
}

.promotions-left__info h3 {
    font-size: 28px;
    margin-bottom: 0;
    margin-top: 15px;
}

.promotions-left__info h3,
.promotions-left__info h3 + p,
.promotions-left__info p + p,
.promotions-left__info a {
    margin-left: 20px;
}

.promotions-left__info h3 + p {
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 82px;
}

.promotions-left__info p + p {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 192px;
}

.promotions-left__info a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #ffffff;

    @include roboto-font;
}

.promotions-left__image {
    background-image: url("../img/stock__desktop.jpg");
    background-size: 280px 482px;
    background-repeat: no-repeat;
}

// tablet-------------------------------------------------------------------
@media (max-width: $desktop-width) {
    .promotions-left {
        min-height: 462px;
        align-self: center;
        width: 100%;
    }

    .promotions-left__image {
        background-image: url("../img/stock__tablet.jpg");
        // background-size: 399px 465px;
        background-size: cover;
        background-repeat: no-repeat;
        width: 74%;
    }

    .promotions-left__info h3 {
        line-height: 19px;
        margin-top: 22px;
        margin-left: 20px;
    }

    .promotions-left__info h3 + p {
        margin-bottom: 15px;
        line-height: 82px;
    }

    .promotions-left__info p + p {
        line-height: 23px;
        margin-bottom: 190px;
    }

    .promotions-left__info a {
        font-size: 13px;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .promotions-left {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        row-gap: 0;
        min-height: 299px;
        text-align: center;
    }

    .promotions-left__info {
        width: 100%;
        padding-bottom: 46px;
    }

    .promotions-left__info h3 {
        margin-left: 11px;
        margin-top: 22px;
    }

    .promotions-left__info h3 + p {
        margin-bottom: 9px;
    }

    .promotions-left__info p + p {
        margin-bottom: 32px;
    }

    .promotions-left__image {
        background-image: url("../img/stock__mobile.jpg");
        background-position: center;
        // background-size: 290px 299px;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        min-height: 299px;
    }
}
