.reviews {
    max-width: 681px;
    margin: 111px auto 0 auto;
}

.reviews__wrapper {
    position: relative;
}

.reviews h2 {
    text-align: center;
    font-size: 48px;
    color: #102654;
    text-transform: uppercase;
    margin-bottom: 50px;
    letter-spacing: 0.05em;

    @include bebas-font;
}

.reviews__list {
    list-style-type: none;
    display: flex;
    column-gap: 10px;
    flex-wrap: nowrap;
    overflow: hidden;
    padding: 0;
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
}

.reviews__item {
    background-color: #1c3374;
    color: #ffffff;
    padding: 39px 10px 41px 171px;
    position: relative;

    @include roboto-font;

    &::before {
        content: "";
        position: absolute;
        width: 80px;
        height: 80px;
        background-image: url("../img/review-img_desktop-tablet.png");
        background-repeat: no-repeat;
        background-size: 80px 80px;
        top: 77px;
        left: 45px;
    }
}

.reviews__item h3 {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 16px;
    letter-spacing: 0.023em;
    margin-top: 19px;
}

.reviews__item p {
    font-size: 16px;
    line-height: 22px;
    margin-top: 0;
    padding-right: 49px;
}

.reviews__prev-button,
.reviews__next-button {
    font-size: 35px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: relative;
    border: none;
    background-color: transparent;

    &:hover {
        opacity: 0.5;
    }
}

.reviews__prev-button {
    &::before {
        content: "";
        position: absolute;
        background-image: url("../img/arrow-left.png");
        background-size: 16px 32px;
        background-repeat: no-repeat;
        width: 16px;
        height: 32px;
        top: 10px;
        right: 15px;
    }
}

.reviews__next-button {
    &::before {
        content: "";
        position: absolute;
        background-image: url("../img/arrow-right.png");
        background-size: 16px 32px;
        background-repeat: no-repeat;
        width: 16px;
        height: 32px;
        top: 10px;
        right: 15px;
    }
}

.reviews__prev-wrapper,
.reviews__next-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.reviews__prev-wrapper {
    left: -16px;
}

.reviews__next-wrapper {
    right: -11px;
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .reviews {
        max-width: 90%;
        margin: 93px auto 0 auto;
    }

    .reviews h2 {
        font-size: 41px;
        margin-bottom: 42px;
        margin-left: 0;
        letter-spacing: 0.06em;
    }

    .reviews__list {
        padding: 0 63px;
    }

    .reviews__item {
        &::before {
            top: 62px;
            left: 65px;
        }
    }

    .reviews__item h3 {
        margin-top: 17px;
    }

    .reviews__item h3 {
        letter-spacing: 0.01em;
    }

    .reviews__next-button {
        &::before {
            right: 6px;
        }
    }

    .reviews__prev-button {
        &::before {
            left: 6px;
        }
    }

    .reviews__next-wrapper {
        right: 0;
    }

    .reviews__prev-wrapper {
        left: 0;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .reviews {
        max-width: 100%;
        margin: 65px auto 0 auto;
    }

    .reviews__wrapper {
        @include margin-15;
    }

    .reviews h2 {
        font-size: 30px;
        margin-bottom: 42px;
    }

    .reviews__list {
        padding: 0 32px;
    }

    .reviews__item {
        padding: 39px 17px 22px 15px;

        &::before {
            width: 68px;
            height: 68px;
            background-size: 68px 68px;
            top: 40px;
            left: 41px;
        }
    }

    .reviews__item h3 {
        margin-left: 110px;
        margin-top: 11px;
        font-size: 17px;
        line-height: 25px;
        letter-spacing: 0.07em;
    }

    .reviews__item p {
        text-align: center;
        margin-top: 23px;
        font-size: 13px;
        padding: 0 17px 0 11px;
        line-height: 22px;
        letter-spacing: 0.05em;
    }

    .reviews__next-button::before,
    .reviews__prev-button::before {
        background-size: 12px 22px;
        top: 50%;
        transform: translateY(-50%);
    }

    .reviews__next-button::before {
        right: 0;
    }

    .reviews__prev-button::before {
        left: 0;
    }
}
