.subscriptions {
    background: linear-gradient(#f8f9fc 0%, #f8f9fc 92%, #ffffff 50%, #ffffff 100%);
    margin-bottom: 45px;
    overflow: hidden;
}

.subscriptions__wrapper {
    max-width: 1248px;
    margin: 0 auto;
    padding-bottom: 193px;
    padding-top: 78px;
}

.subscriptions__container {
    position: relative;
    overflow: hidden;

    &::after {
        content: "";
        position: absolute;
        background-image: url("../img/sub-block-img_desktop.png");
        height: 496px;
        width: 470px;
        background-size: 474px 496px;
        right: -182px;
        bottom: -77px;
    }
}

.subscriptions__wrapper h2 {
    font-size: 42px;
    color: #102654;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 41px;
    font-weight: 100;

    @include bebas-font;
}

.subscriptions__toggle-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 345px;
    margin: 0 auto;
    padding-bottom: 14px;
    position: relative;

    @include roboto-font;

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: rgba(120, 120, 120, 0.2);
        top: 37px;
        z-index: 1;
    }
}

.subscriptions__toggle-item {
    padding-bottom: 14px;
    border: none;
    border-bottom: 2px solid transparent;
    background-color: #f8f9fc;
    color: #102654;
    opacity: 0.5;
    font-size: 19px;
    padding-left: 0;
    cursor: pointer;

    &:focus {
        outline: none;
        border-bottom: 2px solid red;
        opacity: 1;
    }
}

.subscriptions__list {
    padding-top: 25px;
}

.subscriptions__list-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    max-width: 1160px;
    margin: 0 auto;

    @include roboto-font;
}

.subscriptions__list-item {
    width: 35%;
    flex: 1 1 100%;
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 85px;
    padding-top: 29px;
    cursor: pointer;
    z-index: 10;
    border: 7px solid transparent;
    margin-right: 40px;

    &:hover {
        border-image: url("../img/main-block-background_desktop.png") 30 30 round;
    }
}

.subscriptions__list-item__trainer {
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        width: 203px;
        height: 69px;
        background: url("../img/5000.png") no-repeat;
        background-position: center;
        background-size: 203px 69px;
        left: 1px;
        top: -28px;
        z-index: -1;
    }
}

.subscriptions__list-item__full-day {
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        width: 203px;
        height: 69px;
        background: url("../img/2700.png") no-repeat;
        background-position: center;
        background-size: 203px 69px;
        left: -10px;
        top: -22px;
        z-index: -1;
    }
}

.subscriptions__list-item__day-time {
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        width: 203px;
        height: 69px;
        background: url("../img/1700.png") no-repeat;
        background-position: center;
        background-size: 203px 69px;
        left: -10px;
        top: -22px;
        z-index: -1;
    }
}

.subscriptions__list-item--last {
    margin-right: 0;
}

.subscriptions__list-item h3 {
    font-size: 26px;
    color: #102654;
    margin-bottom: 13px;
}

.subscriptions__list-item h3 + p {
    font-size: 16px;
    margin-top: 0;
}

.subscriptions__list-item p:last-of-type {
    margin-bottom: 67px;
    margin-top: 79px;
    font-size: 60px;
    color: #102654;
}

.subscriptions__list-item p:last-of-type span {
    color: #103aae;
    font-weight: 700;
}

.subscriptions__list-item a {
    text-transform: uppercase;
    text-decoration: none;
    color: #102654;
    border: 2px solid #102654;
    font-size: 12px;
    font-weight: 700;
    padding: 25px 38px;
    margin-left: 10px;

    @include roboto-font;
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .subscriptions {
        max-width: 1199px;
        background: linear-gradient(#f8f9fc 0%, #f8f9fc 95%, #ffffff 50%, #ffffff 100%);
        margin-bottom: 9px;
    }

    .subscriptions__container {
        position: relative;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            background-image: url("../img/sub-block-img_tablet.png");
            height: 447px;
            width: 427px;
            background-size: 427px 447px;
            right: -79px;
            bottom: -34px;
        }
    }

    .subscriptions__wrapper {
        padding-top: 65px;
        padding-bottom: 153px;
    }

    .subscriptions__wrapper h2 {
        font-size: 37px;
        margin-bottom: 36px;
    }

    .subscriptions__list {
        padding-top: 0;
    }

    .subscriptions__list-wrapper {
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        margin-top: 28px;

        @include margin-45;
    }

    .subscriptions__list-item {
        width: 65%;
        padding-top: 35px;
        margin-right: 0;
    }

    .subscriptions__list-item h3 {
        font-size: 23px;
    }

    .subscriptions__list-item a {
        padding: 24px 31px 24px 42px;
        margin-left: -1px;
    }

    .subscriptions__toggle-list {
        font-size: 16px;
        max-width: 331px;

        &::after {
            width: 100%;
            top: 33px;
        }
    }

    .subscriptions__toggle-item {
        font-size: 17px;
        padding-bottom: 12px;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .subscriptions {
        margin-bottom: 0;
    }

    .subscriptions__wrapper {
        max-width: 767px;
        padding-top: 43px;
        padding-bottom: 102px;
    }

    .subscriptions__wrapper h2 {
        font-size: 28px;
        margin-bottom: 26px;
    }

    .subscriptions__toggle-list-wrapper {
        @include margin-15;
    }

    .subscriptions__list-wrapper {
        margin-right: 17px;
        margin-left: 17px;
        margin-top: 20px;
    }

    .subscriptions__list-item {
        width: 100%;
        padding-top: 23px;
        padding-bottom: 69px;

        @include margin-15;
    }

    .subscriptions__list-item__trainer {
        &::before {
            width: 163px;
            height: 60px;
            background-size: 163px 60px;
            left: -13px;
            top: -24px;
        }
    }

    .subscriptions__list-item__day-time {
        &::before {
            width: 163px;
            height: 60px;
            background-size: 163px 60px;
            left: -13px;
            top: -24px;
        }
    }

    .subscriptions__list-item__full-day {
        &::before {
            width: 163px;
            height: 60px;
            background-size: 163px 60px;
            left: -13px;
            top: -24px;
        }
    }

    .subscriptions__list-item h3 {
        font-size: 21px;
    }

    .subscriptions__list-item h3 + p {
        font-size: 14px;
    }

    .subscriptions__container::after {
        display: none;
    }

    .subscriptions__list-item p:last-of-type {
        font-size: 47px;
        margin-top: 67px;
        margin-bottom: 60px;
    }

    .subscriptions__toggle-item {
        padding-bottom: 12px;
    }

    .subscriptions__toggle-list {
        &::after {
            width: 100%;
        }
    }
}
