.subscriptions {
    background: linear-gradient(#f8f9fc 0%, #f8f9fc 92%, #ffffff 50%, #ffffff 100%);
    margin-bottom: 150px;
}

.subscriptions__wrapper {
    max-width: 1248px;
    margin: 0 auto;
    padding-bottom: 193px;
    padding-top: 78px;
}

.subscription__container {
    position: relative;
    overflow: hidden;
    &::after {
        content: "";
        position: absolute;
        background-image: url("../img/sub-block-img_desktop.png");
        height: 496px;
        width: 470px;
        background-size: 474px 496px;
        right: -71px;
        bottom: -80px;
    }
}

.subscriptions__wrapper h2 {
    font-size: 42px;
    color: #102654;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 41px;

    @include bebas-font;
}

.subscriptions__toggle-list {
    list-style: none;
    display: flex;
    color: #102654;
    opacity: 0.5;
    font-size: 20px;
    justify-content: space-between;
    column-gap: 20px;
    padding-left: 0;
    max-width: 345px;
    margin: 0 auto;
    border-bottom: 2px solid rgba(120, 120, 120, 0.2);
    padding-bottom: 14px;

    @include roboto-font;
}

.subscriptions__list {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    margin-top: 39px;

    @include margin-45;
    @include roboto-font;
}

.subscriptions__list-item:hover.subscriptions__list-item a {
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
    color: #ffffff;
    border: none;
}

.subscriptions__list-item:hover.subscriptions__toggle-item--1months {
    color: red;
}

.subscriptions__list-item {
    width: 30%;
    background-color: #ffffff;
    text-align: center;
    padding-bottom: 91px;
    padding-top: 34px;
    cursor: pointer;
    z-index: 10;

    &:hover {
        border: 7px solid red;
        border-image: url("../img/main-block-background_desktop.png") 30 30 round;
        border-image-outset: -7;
    }

    &--trainer {
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            width: 203px;
            height: 69px;
            background: url("../img/5000.png") no-repeat;
            background-position: center;
            background-size: 203px 69px;
            left: 1px;
            top: -28px;
            z-index: -1;
        }
    }

    &--day-time {
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            width: 203px;
            height: 69px;
            background: url("../img/1700.png") no-repeat;
            background-position: center;
            background-size: 203px 69px;
            left: -10px;
            top: -22px;
            z-index: -1;
        }
    }

    &--full-day {
        position: relative;
        z-index: 1;
        &::before {
            content: "";
            position: absolute;
            width: 203px;
            height: 69px;
            background: url("../img/2700.png") no-repeat;
            background-position: center;
            background-size: 203px 69px;
            left: -10px;
            top: -22px;
            z-index: -1;
        }
    }
}

.subscriptions__list-item h3 {
    font-size: 26px;
    color: #102654;
    margin-bottom: 13px;
}

.subscriptions__list-item h3 + p {
    font-size: 16px;
    margin-top: 0;
}

.subscriptions__list-item p:last-of-type {
    margin-bottom: 67px;
    margin-top: 79px;
    font-size: 60px;
    color: #102654;
}

.subscriptions__list-item p:last-of-type span {
    color: #103aae;
    font-weight: 700;
}

.subscriptions__list-item a {
    text-transform: uppercase;
    text-decoration: none;
    color: #102654;
    border: 2px solid #102654;
    font-size: 12px;
    font-weight: 700;
    padding: 25px 38px;
    margin-left: 10px;

    @include roboto-font;
}
