.trainers {
    position: relative;
    max-width: 1158px;
    margin: 0 auto;
    // overflow: hidden;
}

.trainers h2 {
    text-transform: uppercase;
    font-size: 43px;
    font-weight: 400;
    margin-top: 114px;
    margin-bottom: 54px;

    @include bebas-font;
}

.trainers__container {
    max-width: 1158px;
    position: relative;
}

.trainers__wrapper {
    padding-bottom: 85px;

    overflow: hidden;
}

.trainers__list {
    width: auto;
    display: flex;
    justify-content: flex-start;
    column-gap: 40px;
}

.trainers__item {
    display: block;
    width: 260px;
    height: 294px;
    background-size: 260px 294px;
    position: relative;
    overflow: hidden;
    flex: 0 0 auto;
}

.trainers__item > p {
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    padding-top: 230px;
    margin-bottom: 25px;

    @include roboto-font;
}

.trainers__item:hover .trainers__info {
    transform: translateX(0%);
    transition: 0.3s;
}

.trainers__item:hover .trainers__item--name {
    display: none;
}

.trainers__info {
    height: 294px;
    max-width: 260px;
    color: #ffffff;
    background: rgba(16, 38, 84, 0.89);
    font-size: 18px;
    position: absolute;
    top: 0;
    transform: translateX(100%);

    @include roboto-font;
}

.trainers__info ul {
    font-size: 14px;
    line-height: 24px;
}

.trainers__info ul li {
    margin-bottom: 15px;
}

.trainers__info > p {
    text-align: center;
    margin-bottom: 80px;
}

.trainers__item-1 {
    background-image: url("../img/trainer-1__desktop.png");
}

.trainers__item-2 {
    background-image: url("../img/trainer-2__desktop.png");
}

.trainers__item-3 {
    background-image: url("../img/trainer-3__desktop.png");
}

.trainers__item-4 {
    background-image: url("../img/trainer-4__desktop.png");
}

.trainers__item-5 {
    background-image: url("../img/trainer-1__desktop.png");
}

.trainers__item-6 {
    background-image: url("../img/trainer-2__desktop.png");
}

.trainers__item-7 {
    background-image: url("../img/trainer-3__desktop.png");
}

.trainers__item-8 {
    background-image: url("../img/trainer-4__desktop.png");
}

.trainers__prev-button,
.trainers__next-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    color: black;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.trainers__next-button {
    right: -16px;
}

.trainers__prev-button {
    left: -17px;
}

.list {
    display: flex;
    flex-direction: row;
}

// tablet----------------------------------------------------------------------------

@media (max-width: $desktop-width) {
    .trainers {
        max-width: 1199px;
        margin: 0 auto;
    }

    .trainers h2 {
        margin-top: 75px;
        text-align: center;
    }

    .trainers__wrapper {
        max-width: 565px;
        padding-bottom: 65px;
        margin: 0 auto;
    }

    .trainers__next-button {
        right: 97px;
    }

    .trainers__prev-button {
        left: 89px;
    }
}

// mobile ----------------------------------------------------------------------------

@media (max-width: $tablet-width) {
    .trainers__container {
        max-width: 767px;
        margin: 0 auto;
    }

    .trainers__wrapper {
        max-width: 290px;
        margin: 0 auto;
    }

    .trainers h2 {
        font-size: 29px;
        margin-top: 66px;
        margin-bottom: 30px;
        text-align: center;
    }

    .trainers__next-button {
        right: 122px;
    }

    .trainers__prev-button {
        left: 91px;
    }
}
