@mixin bebas-font {
    font-family: "Bebas Neue", "Impact", sans-serif;
}

@mixin roboto-font {
    font-family: "Roboto Condensed", "Arial", sans-serif;
}

@mixin margin-30 {
    margin-right: 30px;
    margin-left: 30px;
}

@mixin margin-15 {
    margin-right: 15px;
    margin-left: 15px;
}

@mixin margin-45 {
    margin-right: 45px;
    margin-left: 45px;
}

@mixin margin-21 {
    margin-right: 21px;
    margin-left: 21px;
}
